In [1]:
import pandas as pd
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"

In [2]:
df = pd.read_csv(url)

In [3]:
df.isna().sum()

Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

In [4]:
missing_data = df.isnull().sum()
print(missing_data)

Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

In [5]:
missing_percentage = (df.isnull().sum() / len(df)) * 100
print(missing_percentage)

Survived                   0.0
Pclass                     0.0
Name                       0.0
Sex                        0.0
Age                        0.0
Siblings/Spouses Aboard    0.0
Parents/Children Aboard    0.0
Fare                       0.0
dtype: float64

In [6]:
print(f"Number of columns: {df.shape[1]}")

Number of columns: 8

In [7]:
print(df.columns)

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

In [8]:
print(df.head()) # Observation means the rows of different passenger, and variable means the different colomn which represent the different part of dataset.

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

In [9]:
print(f"number of rows:{df.shape[1]}")

number of rows:8

In [10]:
print(df.describe())

         Survived      Pclass         Age  Siblings/Spouses Aboard  \
count  887.000000  887.000000  887.000000               887.000000
mean     0.385569    2.305524   29.471443                 0.525366
std      0.487004    0.836662   14.121908                 1.104669
min      0.000000    1.000000    0.420000                 0.000000
25%      0.000000    2.000000   20.250000                 0.000000
50%      0.000000    3.000000   28.000000                 0.000000
75%      1.000000    3.000000   38.000000                 1.000000
max      1.000000    3.000000   80.000000                 8.000000

       Parents/Children Aboard       Fare
count               887.000000  887.00000
mean                  0.383315   32.30542
std                   0.807466   49.78204
min                   0.000000    0.00000
25%                   0.000000    7.92500
50%                   0.000000   14.45420
75%                   0.000000   31.13750
max                   6.000000  512.32920

In [11]:
print(df.describe(include=['O']))

                          Name   Sex
count                      887   887
unique                     887     2
top     Mr. Owen Harris Braund  male
freq                         1   573

In [12]:
print("Passenger Class Distribution (Pclass):")
print(df['Pclass'].value_counts())

Passenger Class Distribution (Pclass):
Pclass
3    487
1    216
2    184
Name: count, dtype: int64

In [13]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

In [14]:
df.shape

(887, 8)

In [15]:
# "attribute", such as df.shape which does not end with () - provide information without performing an action.
# and a "method", such as df.describe() which does end with () - performing an action

In [16]:
# Transcript log: https://chatgpt.com/share/dab6988b-d4ad-478b-824a-70ad17f77976

In [17]:
summary_statistics = df.describe()

In [18]:
for column in summary_statistics.columns:
    print(f"Statistics for {column}:") 
    print(f"Count: {summary_statistics.loc['count', column]}") 
    # How many number in total does the dataset have
    print(f"Mean: {summary_statistics.loc['mean', column]}") 
    # The average value of the data point
    print(f"Standard Deviation: {summary_statistics.loc['std', column]}") 
    # A measure of the degree of variation 
    print(f"Min: {summary_statistics.loc['min', column]}") 
    # The smallest number in the dataset
    print(f"25%: {summary_statistics.loc['25%', column]}") 
    # 25% of the data point smaller than this
    print(f"50% (Median): {summary_statistics.loc['50%', column]}") 
    # 50% of the data below and 50% higher. The median of whole data set. 
    print(f"75%: {summary_statistics.loc['75%', column]}") 
    # 75% of the data below
    print(f"Max: {summary_statistics.loc['max', column]}") 
    # The maximum number in the dataset. 
    print()

Statistics for Survived:
Count: 887.0
Mean: 0.3855693348365276
Standard Deviation: 0.48700411775101465
Min: 0.0
25%: 0.0
50% (Median): 0.0
75%: 1.0
Max: 1.0

Statistics for Pclass:
Count: 887.0
Mean: 2.305524239007892
Standard Deviation: 0.8366620036697746
Min: 1.0
25%: 2.0
50% (Median): 3.0
75%: 3.0
Max: 3.0

Statistics for Age:
Count: 887.0
Mean: 29.471443066516347
Standard Deviation: 14.121908405462555
Min: 0.42
25%: 20.25
50% (Median): 28.0
75%: 38.0
Max: 80.0

Statistics for Siblings/Spouses Aboard:
Count: 887.0
Mean: 0.5253664036076663
Standard Deviation: 1.1046685538675631
Min: 0.0
25%: 0.0
50% (Median): 0.0
75%: 1.0
Max: 8.0

Statistics for Parents/Children Aboard:
Count: 887.0
Mean: 0.3833145434047351
Standard Deviation: 0.8074659070316815
Min: 0.0
25%: 0.0
50% (Median): 0.0
75%: 0.0
Max: 6.0

Statistics for Fare:
Count: 887.0
Mean: 32.30542018038331
Standard Deviation: 49.7820404001739
Min: 0.0
25%: 7.925
50% (Median): 14.4542
75%: 31.1375
Max: 512.3292

In [19]:
# Interaction log: https://chatgpt.com/share/dab6988b-d4ad-478b-824a-70ad17f77976

In [20]:
print(df.dropna())

     Survived  Pclass                                               Name  \
0           0       3                             Mr. Owen Harris Braund
1           1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2           1       3                              Miss. Laina Heikkinen
3           1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4           0       3                            Mr. William Henry Allen
..        ...     ...                                                ...
882         0       2                               Rev. Juozas Montvila
883         1       1                        Miss. Margaret Edith Graham
884         0       3                     Miss. Catherine Helen Johnston
885         1       1                               Mr. Karl Howell Behr
886         0       3                                 Mr. Patrick Dooley

        Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0      male  22.0                        1                        0   7.2500
1    female  38.0                        1                        0  71.2833
2    female  26.0                        0                        0   7.9250
3    female  35.0                        1                        0  53.1000
4      male  35.0                        0                        0   8.0500
..      ...   ...                      ...                      ...      ...
882    male  27.0                        0                        0  13.0000
883  female  19.0                        0                        0  30.0000
884  female   7.0                        1                        2  23.4500
885    male  26.0                        0                        0  30.0000
886    male  32.0                        0                        0   7.7500

[887 rows x 8 columns]

In [22]:
df = pd.read_csv(url)
del df('col')

SyntaxError: cannot delete function call (1626767599.py, line 2)

In [23]:
# df.dropna()is more used when the dataset are only have few rows of missing values and the columns is important for the analysis, so I want to keep as much as I could
# del df ['col'] The dataset in a column is mostly missing and it is not important for the analysis.
#del df['col'] go first because it drops a lot of number.

In [25]:
missing_data_report = df.isnull().sum()

print("Before handling missing data:\n", missing_data_report)

Before handling missing data:
 Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

In [26]:
# Drop the 'Cabin' column as it has too many missing values
del df['Cabin']

# Drop rows with missing data in important columns
df_cleaned = df.dropna(subset=['Age', 'Fare', 'Embarked'])

# Check the result
missing_data_report_after = df_cleaned.isnull().sum()

print("After handling missing data:\n", missing_data_report_after)

KeyError: 'Cabin'

In [27]:
print(df.columns)

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

In [28]:
print("Missing values before cleaning:\n", df.isnull().sum())

Missing values before cleaning:
 Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

In [31]:
df_cleaned = df.dropna(subset=['Age', 'Fare'])

In [33]:
print("Missing values in 'Age':", df['Age'].isnull().sum())

Missing values in 'Age': 0

In [34]:
print("Missing values in 'Fare':", df['Fare'].isnull().sum())

Missing values in 'Fare': 0

In [30]:
print("\nMissing values after cleaning:\n", df_cleaned.isnull().sum())

Missing values after cleaning:
 Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

In [32]:
print("\nCleaned DataFrame:\n", df_cleaned.head())

Cleaned DataFrame:
    Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

In [35]:
# transaction log: https://chatgpt.com/share/45ecf66c-9065-4b87-b2da-12ad77c8d31b

In [36]:
import pandas as pd

# Load the Titanic dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
titanic_data = pd.read_csv(url)

# View the first few rows of the dataset
print(titanic_data.head())

# Get a summary of the data
print(titanic_data.info())

# Get descriptive statistics for numerical columns
print(titanic_data.describe())

# Check for missing values
print(titanic_data.isnull().sum())

# Fill missing values in the 'age' column with the median age
titanic_data['age'].fillna(titanic_data['age'].median(), inplace=True)

# Drop rows with missing values
titanic_data.dropna(inplace=True)

# Get count of survivors (0 = No, 1 = Yes)
survival_counts = titanic_data['survived'].value_counts()
print(survival_counts)

# Group by gender and get the mean survival rate for each group
survival_rate_by_gender = titanic_data.groupby('sex')['survived'].mean()
print(survival_rate_by_gender)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
None
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
survived
1    134
0     67
Name: count, dtype: int64
sex
female    0.936842
male      0.424528
Name: survived, dtype: float64

In [37]:
# df.groupby("col1"): is the dataframe by the unique values in col1
# ["col2"] choose the column that want to calculate 
#.describe() includeing "count" "mean" "standard deviation" "min" "max" "25% 50% 75%"

In [38]:
fare_stats_by_class = titanic_data.groupby('pclass')['fare'].describe()
print(fare_stats_by_class)

        count       mean        std    min      25%      50%       75%  \
pclass
1       173.0  86.173218  76.204025   0.00  35.0000  66.6000  93.50000
2        16.0  18.063544   9.915756  10.50  11.8875  13.0000  26.00000
3        12.0  11.698608   4.728981   7.65   7.7250  10.4625  13.53125

             max
pclass
1       512.3292
2        39.0000
3        22.3583

In [39]:
df.describe()

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.32920

In [44]:
df.columns = df.columns.str.strip()

In [45]:
print(df.head())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

In [48]:
df.groupby("Pclass")["Fare"].describe()

        count       mean        std  min       25%      50%   75%       max
Pclass
1       216.0  84.154687  78.380373  0.0  30.92395  60.2875  93.5  512.3292
2       184.0  20.662183  13.417399  0.0  13.00000  14.2500  26.0   73.5000
3       487.0  13.707707  11.817309  0.0   7.75000   8.0500  15.5   69.5500

In [50]:
# df.describe() gives an overview of the nonmissing values for the whole dataset
# df.groupby("col1")["col2"].describe() focus on specific column
# In df.describe, count may differ based on each column, and in df.groupby(), the count is specific to each group.

In [54]:
# https://chatgpt.com/share/66e3587d-98ec-800d-8479-b14ae1e8bf2d

In [51]:
#Q9. Yes